ul.spot-list{
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 30px;
}

ul.spot-list li {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

ul.spot-list li header{
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #0000006e;
}

ul.spot-list li strong {
    margin-top: 20px;
    font-size: 24px;
    color: #444;
}

ul.spot-list li span {
    margin-top: 5px;
    font-size: 16px;
    color: #999;
}

.spots-empty {
    display: flex;
    font-size: 18px;
    justify-content: center;
    margin-bottom: 30px;
}

ul.notifications {
    list-style: none;
    margin-bottom: 15;
}

ul.notifications li{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

ul.notifications li button{
    margin-right: 10px;
    border: 0;
    font-weight: bold;
    padding: 10px;
}

ul.notifications li button.accept{
    color: #84C870;
    cursor: pointer;
}

ul.notifications li button.reject{
    color: #E55E5E;
    cursor: pointer;
}