label#thumbnail {
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label#thumbnail input{
    display: none;
}

label#thumbnail.has-thumb {
    border: none
}

label#thumbnail.has-thumb img {
    display: none;
}